

<meta charset="UTF-8" />
<form method="post" action="~/Parent/NewParent">

    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> FirstName : </label>
    </p>
    <p>
        <input type="text" name="FirstName" autocomplete="off" />
    </p>
  
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> LastName : </label>
    </p>
    <p>
        <input type="text" name="LastName" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> NicknName : </label>
    </p>
    <p>
        <input type="text" name="NickName" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Email : </label>
    </p>
    <p>
        <input type="text" name="Email" autocomplete="off" />
    </p>
    
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> HomeAddress : </label>
    </p>
    <p>
        <input type="text" name="HomeAddress" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Phone : </label>
    </p>
    <p>
        <input type="text" name="Phone" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> WorkPhone : </label>
    </p>
    <p>
        <input type="text" name="WorkPhone" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Sibling : </label>
    </p>
    <p>
        <input type="number" name="Sibilings" autocomplete="off" />
    </p>
    <input type="submit" value="Add Parent" style="" />
</form>
