


<form method="post" action="~/NewParent">

    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Name : </label>
    </p>
    <p>
        <input type="text" name="FirstName" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Name : </label>
    </p>
    <p>
        <input type="text" name="LastName" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Name : </label>
    </p>
    <p>
        <input type="text" name="NickName" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Name : </label>
    </p>
    <p>
        <input type="text" name="Email" autocomplete="off" />
    </p>
    
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> Name : </label>
    </p>
    <p>
        <input type="text" name="HomeAddress" autocomplete="off" />
    </p>
    <input type="submit" value="Add Parent" style="" />
</form>
