<meta charset="UTF-8" />
<form method="post" action="~/Student/NewStudent">

    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> FirstName : </label>
    </p>
    <p>
        <input type="text" name="FirstName" autocomplete="off" />
    </p>

    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> LastName : </label>
    </p>
    <p>
        <input type="text" name="LastName" autocomplete="off" />
    </p>
    <p>
        <label class="badge bg-primary text-wrap" style="width: 6rem;"> IdParent : </label>
    </p>
    <p>
        <input type="text" name="IdParent" autocomplete="off" />
    </p>
    <input type="submit" value="Add Parent" style="" />
</form>